.card {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.firstName {
  width: 100%;
}
.lastName {
  width: 100%;
}
.date {
  width: 100%;
}
.email {
  width: 100%;
}
.bt-ok {
  width: 50%;
}
.bt-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.output-value {
  font-size: 16px;
}
.radio {
  display: flex;
  flex-direction: column;
}
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}
.radio-button {
  margin: 5px;
}
