<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Ice-cream builder
    </mat-card-title>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <div class="content-container">
      <div class="radio">
        <label>Select ice-cream</label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="price" class="radio-group">
          <mat-radio-button value="3" class="radio-button" color="primary">Vanilla</mat-radio-button>
          <mat-radio-button value="4" class="radio-button" color="primary">Lemon</mat-radio-button>
          <mat-radio-button value="5" class="radio-button" color="primary">Chocolate</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="radio">
        <section class="section" [formGroup]="options">
          <h4 class="title">Select your toppings:</h4>
          <p><mat-checkbox formControlName="nuts" (change)="change()" color="primary">Nuts</mat-checkbox></p>
          <p><mat-checkbox formControlName="cherry_topping" (change)="change()" color="primary">Cherry topping</mat-checkbox></p>
          <p><mat-checkbox formControlName="chocolate_balls" (change)="change()" color="primary">Chocolate balls</mat-checkbox></p>
        </section>
      </div>
      <mat-form-field appearance="outline" class="amount">
        <mat-label>Amount</mat-label>
        <input #amount matInput (keypress)="numberOnly($event)" type="number" min="1">
      </mat-form-field>
    </div>
    <div class="bt-container">
      <button mat-raised-button
              class="bt-ok"
              (click)="onClickConvert(price, amount.value)">
        Ok
      </button>
    </div>
    <div class="output">
      {{ output }}
    </div>
  </mat-card-content>
</mat-card>
