<div class="bt-container">
  <button mat-raised-button
          (click)="toggleComponent('Lab23part2')"
          [class]='isLab23part2? "selected": "not-selected"'>
    Lab23 Part2
  </button>
  <button mat-raised-button
          (click)="toggleComponent('Lab23part3')"
          [class]='isLab23part3? "selected": "not-selected"'>
    Lab23 Part3
  </button>
</div>
<ng-container *ngIf="isLab23part2">
  <app-lab23-part2></app-lab23-part2>
</ng-container>
<ng-container *ngIf="isLab23part3">
  <app-lab23-part3></app-lab23-part3>
</ng-container>
